body {
margin: auto;
}
h1 {
font-size: 200px; 
font-family: sans-serif;
margin: 0.3em 1em;
}
div {
   font-family: 'Times New Roman', Times, serif;
}
p {
   font-family: sans-serif;
   color:white; 
   font-size: 100px;
   padding: 1.5em 0em 0em 0em; 
   background-color: black;
   margin: -0.5em 0em 0em 0em;
}
figure{
   margin:0em 0em 0em 0em
}
a {
   font-family: 'Times New Roman', Times, serif;
   color:white;
   text-decoration: none;
}
